# **Assignment For Numpy**

Difficulty Level **Beginner**

1. Import the numpy package under the name np

In [5]:
import numpy as np

2. Create a null vector of size 10

In [9]:
null_vec = np.zeros(10)
print (null_vec)

[0. 0. 0. 0. 0. 0. 0. 0. 0. 0.]

3. Create a vector with values ranging from 10 to 49

In [17]:
ranger = np.arange(10,50)
print (ranger)

[10 11 12 13 14 15 16 17 18 19 20 21 22 23 24 25 26 27 28 29 30 31 32 33
 34 35 36 37 38 39 40 41 42 43 44 45 46 47 48 49]

4. Find the shape of previous array in question 3

In [4]:
ranger.shape

(40,)

5. Print the type of the previous array in question 3

In [9]:
type(ranger)

numpy.ndarray

6. Print the numpy version and the configuration

In [10]:
np.__version__

'1.16.4'

7. Print the dimension of the array in question 3

In [11]:
ranger.shape

(40,)

8. Create a boolean array with all the True values

In [28]:
booli = np.array([True,True,1],dtype=bool)

In [29]:
booli

array([ True,  True,  True])

9. Create a two dimensional array

In [60]:
np.random.randn(2,2)

array([[1.50285584, 0.69259142],
       [0.99370913, 0.23018606]])

In [59]:
norm(5,7).rvs(2)

array([-10.62519783,  15.97580448])

10. Create a three dimensional array

In [63]:
np.random.randn(3,)

array([-1.3095772 , -1.48446344,  1.60130969])

Difficulty Level **Easy**

11. Reverse a vector (first element becomes last)

In [68]:
randints = np.random.randint(2,10,7)

In [69]:
randints

array([9, 3, 3, 7, 5, 4, 4])

In [75]:
np.flip(randints)

array([4, 4, 5, 7, 3, 3, 9])

12. Create a null vector of size 10 but the fifth value which is 1

In [79]:
null_vec = np.zeros(10,dtype=int)
null_vec[4] = 1

In [80]:
null_vec

array([0, 0, 0, 0, 1, 0, 0, 0, 0, 0])

13. Create a 3x3 identity matrix

In [81]:
np.eye(3,3)

array([[1., 0., 0.],
       [0., 1., 0.],
       [0., 0., 1.]])

14. arr = np.array([1, 2, 3, 4, 5]) 

---

 Convert the data type of the given array from int to float

In [83]:
arr = np.array([1, 2, 3, 4, 5],dtype=float)

15. arr1 = np.array([[1., 2., 3.], [4., 5., 6.]])  arr2 = np.array([[0., 4., 1.], [7., 2., 12.]])

---


Multiply arr1 with arr2

In [84]:
arr1 = np.array([[1., 2., 3.], [4., 5., 6.]]); arr2 = np.array([[0., 4., 1.], [7., 2., 12.]])

In [88]:
arr1*arr2

array([[ 0.,  8.,  3.],
       [28., 10., 72.]])

16. arr1 = np.array([[1., 2., 3.], [4., 5., 6.]]) arr2 = np.array([[0., 4., 1.], [7., 2., 12.]])


---

Make an array by comparing both the arrays provided above

In [91]:
arr1 > arr2

array([[ True, False,  True],
       [False,  True, False]])

17. Extract all odd numbers from arr with values(0-9)

In [94]:
a

array([0, 1, 2, 3, 4, 5, 6, 7, 8, 9])

In [121]:
a = np.arange(0,10)
condition = np.mod(a, 2)!=0
np.extract(condition,a)

array([1, 3, 5, 7, 9])

In [104]:
b

array([1, 3, 5, 7, 9])

18. Replace all odd numbers to -1 from previous array

In [122]:
np.where(condition,-1,a)

array([ 0, -1,  2, -1,  4, -1,  6, -1,  8, -1])

19. arr = np.arange(10)


---

Replace the values of indexes 5,6,7 and 8 to **12**

In [125]:
a[5:10] = 12

In [126]:
a

array([ 0,  1,  2,  3,  4, 12, 12, 12, 12, 12])

20. Create a 2d array with 1 on the border and 0 inside

In [173]:
b = np.zeros((5,5),dtype=int).reshape(5,5)

In [175]:
b

array([[1, 1, 1, 1, 1],
       [1, 0, 0, 0, 1],
       [1, 0, 0, 0, 1],
       [1, 0, 0, 0, 1],
       [1, 1, 1, 1, 1]])

In [174]:
b[1:4,[0,-1]] = b[[0,-1]] = 1

In [176]:
b[1:4,[0,-1]]

array([[1, 1],
       [1, 1],
       [1, 1]])

In [164]:
b[0]= b[4] = 1

Difficulty Level **Medium**

21. arr2d = np.array([[1, 2, 3], [4, 5, 6], [7, 8, 9]])

---

Replace the value 5 to 12

In [6]:
arr2d = np.array([[1, 2, 3],

                    [4, 5, 6], 

                    [7, 8, 9]])

arr2d[1, 1] = 12
arr2d

array([[ 1,  2,  3],
       [ 4, 12,  6],
       [ 7,  8,  9]])

22. arr3d = np.array([[[1, 2, 3], [4, 5, 6]], [[7, 8, 9], [10, 11, 12]]])

---
Convert all the values of 1st array to 64

In [8]:
arr3d = np.array([[[1, 2, 3], [4, 5, 6]], [[7, 8, 9], [10, 11, 12]]])
arr3d[0,0] = 64
arr3d

array([[[64, 64, 64],
        [ 4,  5,  6]],

       [[ 7,  8,  9],
        [10, 11, 12]]])

23. Make a 2-Dimensional array with values 0-9 and slice out the first 1st 1-D array from it

In [9]:
arr = np.arange(9).reshape(3, 3)
arr2 = arr[0] #TODO
arr2

array([0, 1, 2])

24. Make a 2-Dimensional array with values 0-9 and slice out the 2nd value from 2nd 1-D array from it

In [10]:
arr = np.arange(9).reshape(3, 3)
val = arr[1][1] #TODO
val

4

25. Make a 2-Dimensional array with values 0-9 and slice out the third column but only the first two rows

In [11]:
arr = np.arange(9).reshape(3, 3)
arr3 = arr[0:-1, -1]

arr3

array([2, 5])

26. Create a 10x10 array with random values and find the minimum and maximum values

In [12]:
arr = np.arange(100).reshape(10, 10)
maxInColumns = np.amax(arr, axis=1)
val = max(maxInColumns)
val

99

27. a = np.array([1,2,3,2,3,4,3,4,5,6]) b = np.array([7,2,10,2,7,4,9,4,9,8])
---
Find the common items between a and b

In [13]:
a = np.array([1,2,3,2,3,4,3,4,5,6]) 

b = np.array([7,2,10,2,7,4,9,4,9,8])

np.intersect1d(a, b)

array([2, 4])

28. a = np.array([1,2,3,2,3,4,3,4,5,6])
b = np.array([7,2,10,2,7,4,9,4,9,8])

---
Find the positions where elements of a and b match

In [14]:
a = np.array([1,2,3,2,3,4,3,4,5,6])
b = np.array([7,2,10,2,7,4,9,4,9,8])

np.where(a == b)

(array([1, 3, 5, 7], dtype=int64),)

29.  names = np.array(['Bob', 'Joe', 'Will', 'Bob', 'Will', 'Joe', 'Joe'])  data = np.random.randn(7, 4)

---
Find all the values from array **data** where the values from array **names** are not equal to **Will**

In [15]:
import random

name = np.array(['Bob', 'Joe', 'Will', 'Bob', 'Will', 'Joe', 'Joe'])  
# data = np.random.randn(7,4) # --> This gives floating point numbers
data = np.random.randint(7, size=random.randrange(1, 10))
print(data)
print(np.where(name[data] != "Will"))

[3 0]
(array([0, 1], dtype=int64),)

30. names = np.array(['Bob', 'Joe', 'Will', 'Bob', 'Will', 'Joe', 'Joe']) data = np.random.randn(7, 4)

---
Find all the values from array **data** where the values from array **names** are not equal to **Will** and **Joe**

In [16]:
import random

name = np.array(['Bob', 'Joe', 'Will', 'Bob', 'Will', 'Joe', 'Joe'])  
# data = np.random.randn(7,4) # --> This gives floating point numbers
data = np.random.randint(7, size=random.randrange(1, 10))
print(data)
print(np.where((name[data] != "Joe") & (name[data] != "Will")))

[0 4 1 1 0 4 2]
(array([0, 4], dtype=int64),)

Difficulty Level **Hard**

31. Create a 2D array of shape 5x3 to contain decimal numbers between 1 and 15.

In [17]:
arr = np.random.uniform(low=1.0, high=15.0, size=(5,3))
arr

array([[ 1.41029166,  5.75788156,  3.37746975],
       [ 7.26632357, 11.52307908,  2.73062074],
       [10.56123965,  2.39732376,  4.41634333],
       [ 7.44087145,  1.04126951, 11.72371137],
       [11.54117122,  2.55958284, 11.12425235]])

32. Create an array of shape (2, 2, 4) with decimal numbers between 1 to 16.

In [19]:
arr_klo = np.random.uniform(low=1.0, high=16.0, size=(2,2,4))

33. Swap axes of the array you created in Question 32

In [20]:
np.swapaxes(arr_klo, 0, 1)
arr_klo

array([[[ 8.22046812,  3.88795402,  7.53856636, 13.69574939],
        [ 3.94645875,  5.93620312,  2.26623527, 13.65881132]],

       [[ 8.27215876, 13.44186625,  1.23024814,  6.03108042],
        [ 8.45073844, 11.58419358,  2.36907616, 12.73331255]]])

34. Create an array of size 10, and find the square root of every element in the array, if the values less than 0.5, replace them with 0

In [21]:
import math

arr = np.arange(10)
print(arr)
new_arr = filter(lambda x: x if math.sqrt(x) > 0.5 else 0, arr)
np.asarray(list(new_arr))

[0 1 2 3 4 5 6 7 8 9]

array([1, 2, 3, 4, 5, 6, 7, 8, 9])

35. Create two random arrays of range 12 and make an array with the maximum values between each element of the two arrays

In [22]:
arr1 = np.random.randint(12, size=random.randrange(0, 12))
arr2 = np.random.randint(12, size=random.randrange(0, 12))
print(arr1)
print(arr2)
np.where(arr1 == arr2)

[11 11  5 10]
[ 5  0  8  0 11  3  3]

C:\Users\Zain\Anaconda3\lib\site-packages\ipykernel_launcher.py:5: DeprecationWarning: elementwise comparison failed; this will raise an error in the future.
  """

(array([], dtype=int64),)

36. names = np.array(['Bob', 'Joe', 'Will', 'Bob', 'Will', 'Joe', 'Joe'])

---
Find the unique names and sort them out!

In [23]:
names = np.array(['Bob', 'Joe', 'Will', 'Bob', 'Will', 'Joe', 'Joe'])
np.unique(names) # --> returns sorted unique values

array(['Bob', 'Joe', 'Will'], dtype='<U4')

37. a = np.array([1,2,3,4,5])
b = np.array([5,6,7,8,9])

---
From array a remove all items present in array b

In [24]:
a = np.array([1,2,3,4,5])
b = np.array([5,6,7,8,9])
val = np.intersect1d(a, b)

a = filter(lambda x: x if x not in val else None, a)
np.asarray(list(a))

array([1, 2, 3, 4])

38.  Following is the input NumPy array delete column two and insert following new column in its place.

---
sampleArray = numpy.array([[34,43,73],[82,22,12],[53,94,66]]) 


---

newColumn = numpy.array([[10,10,10]])

In [25]:
sampleArray = np.array([[34,43,73],[82,22,12],[53,94,66]]) 
sampleArray[:, 1] = 10
sampleArray

array([[34, 10, 73],
       [82, 10, 12],
       [53, 10, 66]])

39. x = np.array([[1., 2., 3.], [4., 5., 6.]]) y = np.array([[6., 23.], [-1, 7], [8, 9]])


---
Find the dot product of the above two matrix

In [26]:
x = np.array([[1., 2., 3.], [4., 5., 6.]]) 
y = np.array([[6., 23.], [-1, 7], [8, 9]])

np.dot(x, y)

array([[ 28.,  64.],
       [ 67., 181.]])

40. Generate a matrix of 20 random values and find its cumulative sum

In [178]:
sum(np.random.random(20))

11.904280221407724